.yeah{
    background-color: lightgreen;
    width:120%;
    padding-top: 8px;
    padding-left: 40px;
    padding-top: 30px;
}




input[type="submit"]{
    background-color: greenyellow;
    width: 10%;
    cursor: pointer;
    border-radius: 4px;
    
    
}
input[type="text"]{
    width: 80%;
    border-radius: 4px;
    
}
.hello{
    padding-left: 40px;
    padding-top: 30px;
    background-color: lightgray;
}
textarea{
    width: 60%;
}
body{
    background-color: lightgray;
}
