ab
{
color:white;
}
div
{
width:100px;
height:100px;
position:relative;
background-color:red;
animation-name:abcd;
animation-duration:0.00001s;
animation-iteration-count:infinite;
}
@keyframes abcd
{
0%
{
background-color:red;
left:0px; top:0px;
}
25%
{
background-color:blue;
left:0px; top:500px;
}
50%
{
background-color:yellow;
left:500px; top:500px;
}
75%
{
background-color:pink;
left:500px; top:0px;
}
100%
{
background-color:red;
left:0px; top:0px;
}
}