H1
{
COLOR:RED;
FONT-FAMILY:"TIMES NEW ROMAN" , SERIF;
FONT-VARIANT:SMALL-CAPS;
FONT-SIZE:30PX;
LETTER-SPACING:7PX;
}
P
{
COLOR:BLUE;
FONT-FAMILY:ARIAL , VERDANA, SANS-SERIF;
FONT-STYLE:ITALICS;
FONT-WEIGHT:NORMAL;
FONT-SIZE:1EM;
LETTER-SPACING:4PX;
}

