<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1 align="center">Authentication ! </h1>
    <center>
        <br>
    <form action="/users/<%=id %>/authentication" method="POST">
        <br>
        Enter Password : <input type="text" name="pass" placeholder="Enter">
        <br><br>
        <button type="Submit"> Check </button>
    </form></center>
</body>
</html>