<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <center>
        <h1>Authentication </h1>
        <br>
        <form action="/users/<%=id%>/Delete" method="POST">
            Enter Email-ID : &nbsp; <input type="text" name="email_" placeholder="Email-ID Here"> <br>
            <br>
            Enter Password : &nbsp; <input type="password" name="password_" placeholder="Password Here"> <br> <br>
            <button type="submit">CHECK</button>
            
            
        </form>
    </center>
</body>
</html>