<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>

<body>
    <h1>You entered into EJS(Embedded Javascript Template.)</h1>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet aperiam molestias esse voluptatum ipsam, sint
    soluta voluptates. Accusamus eos ad dolore rerum cumque vero vitae reprehenderit a necessitatibus suscipit. Esse.
</body>

</html>