<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Chats</title>
</head>
<body>
    <h1>Chats ! </h1>
    <button>New Chat</button>
    <% for(data of lists){ %>
        <br>
        <div class="outer">
            From : <i><%= data.from; %> </i> <br>
            <div class="inner">
                Received bu : <%= data.msg %> <br>
                <br>
                <button>Edit</button> &nbsp;&nbsp;&nbsp;&nbsp; <button>Delete</button>

            </div>
        </div>
   <% } %>
</body>
</html>