#heading{
    font-style: italic;
    color: gold;
    font-size: larger;
}

.main{
    padding:10px 20px; 
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}

.dog{
    padding: 20px 20px;
    border:1px solid black;
    border-radius: 16%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:350px;
    margin-left:20px;
    margin-right: 20px;
}


.cat{
    padding: 20px 20px;
    border:1px solid black;
    border-radius: 16%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin-left:20px;
    margin-right: 20px;
}


img{
    height: 30%;
    width: 80%;
    border-radius: 16px;
}

@media(max-width:700px){
    .main{
    flex-wrap: wrap;
    }
}