#man{
    border: 1px solid black;
    display: inline-block;
    margin:0px 40px 0px 0px;
    box-shadow: 2px 4px 12px grey;
}




#woman{
    border:1px solid black;
    display:inline-block;
    margin:0px 0px 40px 0px;
    box-shadow:2px 2px 12px grey;
}

#man:hover{
    box-shadow: 4px 4px 16px black;
}

#woman:hover{
    box-shadow: 4px 4px 16px black;
}