TD.S
{
COLOR: BLUE;
FONT-SIZE: 20 PX; 
FONT-FAMILY: ARIAL ROUNDED MT;
FONT-STYLE: BOLD;
}
TR.C
{
BACKGROUND-COLOR:BLUE;
}
TD.D
{
COLOR:PINK;
}
TABLE
{
BORDER-WIDTH: 20 PX;
BORDER-STYLE:SOLID;
BORDER-COLOR:BLUE;
}
