H1{COLOR:RED; FONT-FAMILY:"TIMES NEW ROMAN", SERIF; 
FONT-SIZE:30 PX; 
BACKGROUND:YELLOW; 
PADDING:20PX 20PX 20PX 80PX;
}
P{FONT-FAMILY:ARIAL,VERDANA,SANS-SERIF; 
FONT-STYLE:ITALIC; 
FONT-SIZE:1 EM; 
BACKGROUND:ORANGE; 
PADDING-LEFT:120 PX; 
PADDING-RIGHT:100 PX;
}