H1
{
COLOR:RED;
FONT-FAMILY:"TIMES NEW ROMAN", SERIF;
FONT-SIZE: 30PX;
TEXT-ALIGN:CENTER;
TEXT-DECORATION:UNDERLINE;
TEXT-TRANSFORM:UPPERCASE;
}
P
{
FONT-FAMILY:ARIAL , VERDANA , SANS-SERIF;
FONT-STYLE:ITALICS;
FONT-SIZE:1 EM;
TEXT-INDENT:30 PX;
WORD-SPACING:15PX;
COLOR:GRAY;
}
LI
{
COLOR:BLUE;
TEXT-TRANSFORM:CAPITALIZE;
LETTER-SPACING:3 PX;
FONT-FAMILY: SANS-SERIF;
}
