#main{
    height: 200px;
    width: 70px;
    border:2px solid black ;
}

#red{
    height: 50px;
    width: 50px;
    border:2px solid black;
    margin:10px;
    border-radius: 50%;
    background-color:red;
}
#yellow{
    height: 50px;
    width: 50px;
    border:2px solid black;
    margin:10px;
    border-radius: 50%;
    background-color:yellow;
}
#green{
    height: 50px;
    width: 50px;
    border:2px solid black;
    margin:10px;
    border-radius: 50%;
    background-color:green;
}


#q1{
    height:150px;
    width:300px;
    background-color:color;
    border:5px dotted black;
    margin:20px 1em 40px 1em;
    padding: 1em;
}

#div1,#div2,#div3{
    height:100px;
    width: 100px;
    background-color: pink;
    border:2px solid black;
    border-radius: 50%;
    display:inline-block;
}

/* li{
    display: block;
} */

