.outer_{
    display:grid;
    background-color: pink;
    border:1px solid white;
    grid-template-rows:repeat(12,1fr);
    grid-template-columns:repeat(12,1fr);
    height:600px;
    width:800px;
    grid-gap: 10px;
    margin:20px auto;
}