.cont{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    padding: 5px;
    background-color: aqua;
}
.cont1{
    margin: 5px;
    padding: 5px;
    background-color: aqua;
}

div{
    height: 10%;
}

